.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  word-wrap: break-word;
}

.button {
  width: 50%;
  margin: 10px;
}

.card {
  width: 50%;
  border: 1px solid black;
  margin: 10px;
}
